# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc
venv/
env/
.venv/

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/
static_root/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid
